<div class="main">
  <div class="pickup">
    <h2>ツイート数ランキング</h2>
  </div>
  <div class="ranking">
    <div class="no01">
      <ul>
      <% @doramas.each do |doratter| %>
        <li>
           <span class="img"><%= image_tag doratter.image %></span>
            <div class="contents">
            <h3 class="title"><%= doratter.title %></h3><br>
            <h6 class="date"><%= doratter.date %></h6><br>
            <h6 class="time"><%= doratter.time %></h6><br>
            <br class="clear">
            </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

