// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet {
  width: 95%;
  margin: auto;
  .tweet_list {
    li {
      list-style-type : none;
      margin: 25px 25px;
      padding: 20px;
      border:1px solid $silver;
      color: $black;
      position: relative;
      text-align: left;
    }
    img {
      width: 100%;
      height: auto;
      margin-top: 10px;
    }
  }
}