$silver: #C0C0C0;
$white: #FFFFFF;
$light-gray: #D3D3D3;
$black: #000000;
$deep-gray: #444444;


.headline{
  text-align: center;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  padding: 10px 10px;
  border-bottom: 1px solid $silver;
}